/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Μαρ 2014, 1:10:20 πμ
    Author     : Valentinos Galanos <swg_lowraed@hotmail.com>
*/

.list-group-item.active {
    background-color: #E5E5E5;
    color: #333 !important;
}
.list-group-item a {
    color: #333 !important;
}
.service_form label {
    margin-top:10px;
}

.code-panel.fullscreen {
    position: fixed;
    top: 60px; left: 60px; right: 60px; bottom: 4px;
    z-index: 9999;
    overflow: auto !important;
    background-color: #F5F5F5;
}
.code-panel.fullscreen pre.code {
    overflow: auto !important;
    height: auto !important;
    position: absolute;
    bottom: 0px;
    top: 32px;
    left:0px;right:0px;
}
.code-panel.fullscreen pre code {
    background-color: #FFF !important;
}